@charset "utf-8";

*
{
	margin: 0;
	font-family: sans-serif;
}

h1 
{
	font-size: 10em;
	color : #DDF;
	border: 1px solid #DDF;
}

p
{
	color:#338;
	font-weight: bold;
	top:2.5em;
	left: 6em;
	font-size:2em;
	position: absolute;
}

#now {
	font-style: italic;;
	color: #C33;
}